html {
    box-sizing: border-box;
}


body {
    -webkit-app-region: drag;
}

:root {
    --text-color: #333;
    --window-border-radius: 6px;
    --button-border-radius: 4px;
    --input-border-radius: 4px;
    --font-size: 14px;
}


.content {
    border-radius: 20px;
    height: 450px;
    /*color: white;*/
    background-image: radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
}

.header {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    /* padding-top: 1px; */
    /*background-color: #ffffff14;*/
    background-image: linear-gradient(to bottom, #0f5285, #2c8190);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header h1 {
    padding: 10px;
    font-family: "Cascadia Code PL", "Fira Code", "Arial";
}


.footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 5px;
    color: black;
    background: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

.to-bottom {
    bottom: 0;
    /*margin: 0 auto;*/
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.toolbar-header{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.title {
    font-size: 20px;
}
